.review-mobile-column {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 20px;
        flex-direction: column;
    }

    ul {
        list-style: none;
        border-bottom: 1px solid #ddd; /* Optional: Add border for styling */
        padding: 10px;
        width: 48%; /* Optional: Adjust the width as needed */
        box-sizing: border-box;
    }

    .item-name {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
        width: 155px;
        height: 15px;
    }

    .item-rating {
        height: 10px;
        width: 100%;
    }

    .item-review {
        line-height: 18px;
        font-size: 12px;
        width: 359px;
        height: auto;
        margin-top: 19px;
    }
    .cot {
        display: flex;
        flex-direction: row;
        justify-content: right;
    }

    .image-link {
        display: flex;
        flex-direction: row;
        width: 134px;
        height: 29px;
        justify-content: flex-end;
        margin-top: -40px;
    }
    .product-type {
        width: 94px;
        height: 30px;
        margin-left: 10px;
    }
    .product {
        display: block;
        width: 94px;
        height: 30px;
        font-size: 10px;
        line-height: 16px;
        font-weight: 400;
        color:#363636;
    }

    .image-link img {
        max-width: 40px;
    }