.client-account-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-link {
  display: flex;
  gap: 16px;
  padding: 12px 8px;
  align-items: center;
}

.icon-container {
  display: flex;
}

.text-container {
  color: var(--color-text);
}

.client-profile {
  display: flex;
  flex-direction: column;
  margin: 12px 16px 120px 16px;
  max-width: 360px;
  width: 100%;
}

.client-title {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Roboto;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
}

.client-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.client-form-item {
  flex-direction: column;
  width: 100%;
}

.client-form-input {
  display: flex;
  width: 100%;
  padding: 16px 12px;
  margin-top: 8px;
  align-items: center;
}
.client-form-input::placeholder {
  color: var(--color-placeholder);
}

.client-password-section {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.password-change-title {
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
}

.password-length-hint {
  color: var(--color-placeholder);
  font-family: Roboto;
  font-size: 14px;

  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.client-password-form {
  flex-direction: column;
}

.client-password-input {
  display: flex;
  width: 100%;
  min-width: 0;
  padding: 16px 12px;
  margin-top: 8px;
  align-items: center;
}

.client-submit-button {
  margin-top: 48px;
  display: flex;
  width: 100%;
  padding: 14px 10px;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  text-transform: uppercase;
  color: #fff;
  background: var(--color-primary);
  border: none;
}

@media screen and (min-width: 768px) {
  .client-account-section {
    display: flex;
    gap: 64px;
    flex-direction: row;
    align-items: stretch;
    justify-content: start;
    padding: 64px 70px 120px 70px;
    width: 100%;
  }

  .client-profile {
    width: 600px;
  }

  .client-title {
    margin-top: 0;
    margin-bottom: 48px;
  }
  .client-form {
    width: 600px;
  }
  .client-form-input {
    display: flex;
    width: 400px;
    padding: 16px;
    align-items: center;
  }

  .client-form-item {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  .client-password-section {
    width: 600px;
  }

  .client-password-form {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .client-password-input {
    width: 400px;
  }

  .client-submit-button {
    width: 220px;
  }

  .client-form-item.error .client-form-input {
    border-color: var(--color-error);
  }

  .error-message {
    color: var(--color-error);
    text-align: center;
  }
}
