.modal {
  height: fit-content;
  background: white;
  box-shadow: 0 3px 5px 0 rgba(128, 128, 128, 0.45);
  position: absolute;
  z-index: 99999;
  flex-direction: column;
  padding: 0.5rem 0.5rem;
  gap: 1rem;
  cursor: default;


  .modal_children {
    display: flex;
    justify-content: center;
    min-height: 100px;
    background: #ffffff;
    width: 100%;
  }
}
