.delivery-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .delivery-section {
    display: flex;
    gap: 64px;
    flex-direction: row;
    align-items: stretch;
    justify-content: start;
    padding: 64px 70px 120px 70px;
    width: 100%;
  }
}
