@media only screen and (min-width: 767px) {
.review-ul {
    list-style-type: none;
    padding: 0;
    margin-right: 19px;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

ul:first-child {
    margin-left: 70px;
}

ul:last-child {
    margin-right: 70px;
}

li {
    text-align: left;
    padding: 5px;
    margin-left: 42px;
    margin-right: 42px;
}

.text-bold {
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    color: #000000;
}

.item-name {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 336px;
    height: 21px;
}

.item-rating {
    text-align: right;
    margin-top: -21px;
}

.item-review {
    color: #363636;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    margin-bottom: 38px;
    margin-top: 20px;
    padding-bottom: 15px;
    width: 100%;
    max-width: 335px;
    height: 63px;
}

img {
    max-width: 100%;
    height: auto;
}

.image-link {
    border-top: 1px solid #828282;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 333px;
    height: auto;
}

.product-type {
    display: flex;
    flex-direction: column;
    text-align: left;
    line-height: 21px;
    font-size: 14px;
    width: 100%;
    max-width: 168px;
    height: 100px;
    margin: 10px 0 10px 65px;
}

.product {
    color:#363636;
    width: 100%;
    max-width: 168px;
    height: auto;
}

.product-type span {
    margin-top: 5px;
}

.type {
    color: #828282;
}
}
@media only screen and (max-width: 767px) {
    .review-ul {
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        justify-content: space-between;
        width: 100%;
        max-width: 393px;
        height: 100%;
        max-height: 169px;
        border-bottom: 1px solid#B8B8B8;    
    }

    .item-name {
        width: 100%;
        max-width: 135px;
        height: 100%;
        max-height: 25px;
        margin-bottom: 5px;
        margin-top: 21px;
        font-size: 10px;
        line-height: 15px;
    }
    .item-rating {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        width: 100%;
        min-width: 58px;
        height: 10px;
    }
    img {
        width: 100%;
        min-width: 40px;
        height: 28px;
    }
    .image-link {
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-bottom: 26px;
        margin-top: -27px;
        max-width: 135px;
        height: 29px;
    }
    .product-type {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 95px;
        height: 29px;
        margin: 0;
        overflow: hidden;
    }
    .item-review {
        width: 100%;
        max-width: 359px;
        height: 54px;
        order: 2;
        overflow: hidden;
        margin-top: -16px;
    }
    .product {
        font-size: 10px;
        line-height: 15px;
        color: #363636;
    }
    .type {
        display: none;
    }

    .review-column ul {
        display: none;
    }

    .review-column ul:nth-child(-n+2) {
        display: flex;
    }
}