
.container-menu {
  display: none;

  @media (min-width: 768px) {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    ul {
      display: flex;
      justify-content: space-between;
    }
  }
}
