.productsByCategory {
	min-height: 600px;
	padding: 0 10px;
	flex: 1 1 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	column-gap: 16px;
}

.productCards {
	margin-bottom: 120px;
	width: 230px;
	height: 475px;
}

.filter {
	margin-bottom: 40px;
	flex: 1 1 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.sortBy {
	display: flex;
	align-items: center;
	gap: 16px;
}

.button {
	background: none;
	color: var(--color-placeholder);
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
	line-height: 0;
}

.arrow {
	transform: rotate3d(0, 0, 0, 0);
	transition: all 500ms;
}

.arrowUp {
	transform: rotate3d(1, 0, 0, 180deg);
}
