.categories-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;


  .category__section {
    position: relative;

    &:first-child {
      //font-size: 50px;
      .category__title {
        //background: #E56466;
      }

    }

    .category__title {
      cursor: pointer;
      text-align: center;
      margin: auto;
      transition: all 0.1ms;
      white-space: nowrap;
    }

  }

  .display-hovered-category {
    column-count: 4;
    column-gap: 1rem;
    border-top: 1px solid #B8B8B8;
    background: white;
    width: 100%;
    height: 225px;
    //height: 0px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -200px;
    z-index: -1;

    .sub-category {
      text-align: center;
      padding: 0.5rem;
      cursor: pointer;
    }
  }

  @media (min-width: 800px) and (max-width: 1000px) {
    .category__title {
      font-size: 0.9rem;
    }
  }
  @media (min-width: 767px) and (max-width: 849px) {
    .category__title {
      font-size: 0.8rem;
    }
  }

}
.category__section{
  &:hover::after {
    content: '';
    position: absolute;
    width: 0;
    height: 7px;
    top: 15px;
    left: 0;
    background: var(--color-categoryr);
    z-index: -1;
    animation: widthIncrease 0.3s forwards;
  }
}
.category__section{
  &:hover::after {
    content: '';
    position: absolute;
    width: 0;
    height: 5px;
    top: 15px;
    left: 0;
    background: var(--color-categoryr);
    z-index: -1;
    animation: widthIncrease 0.3s forwards;
  }
}


@keyframes widthIncrease {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes bordered {
  from {
    background: white;
    color: #E56466;
    border: 0px solid #E56466;
    border-radius: 0px;
    padding: 0;
  }
  to {
    border-radius: 5px;
    color: white;
    background: #E56466;
    border: 1px solid #E56466;
  }
}


.category-item:first-child {
  .category__section:first-child {
    position: relative;
    transition: all 0.4s;
    min-width: 6rem;
    &:hover::after{
      transition: all 0.4s;
      animation: unset ;
    }
    &:hover
    .category__title{
      animation: bordered 0.3s forwards ;
      &:after, &:before {
        color: #E56466;
      }
    }

    color: var(--color-primary);
    .category__title:before,
    .category__title:after {
      transition: all 0.4s;
      content: '/';
      padding: 0 0.4rem;
    }
  }
}

@media (min-width: 767px) {
  .main-header {
    .logo-top-bar-header {
      width: 200px;
      height: 98.09px;
      margin-bottom: 5px;
    }

  }
  .user-actions-header {

    .search-svg {
      display: none;
    }
  }
}

@media (max-width: 767px) {
  .top-bar-header {
    display: none;
  }
}

@media (max-width: 948px) {
  .list-top-bar-header {
    ul {
      li {
        margin: 0 1vw !important;
      }
    }
  }
}