.language-top-bar-header {
  margin-top: 1rem;
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-height: 60px;
  gap: 2rem;
  @media (min-width: 767px) {
    gap: 0.5rem;
  }

  .lang, .ship {
    border: 1px solid var(--color-placeholder);
    border-radius: 5px;
    min-width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--color-text);
    user-select: none;
    @media (min-width: 767px) {
      min-width: 25px;
    }
  }

  @media (min-width: 767px) {
    & {
      margin-top: 0;
      padding-top: 0;
      width: fit-content;
      height: fit-content;
      max-height: fit-content;

      .lang, .ship {
        border: 0;
        border-radius: 0;
      }
      .lang {
        border-bottom: 1px solid;
      }
    }


  }
}