@media (max-width: 768px) {
	.body {
		margin-top: 10px;
	}

	.title,
	.subTitle {
		text-align: center;
		font-size: 12px;
	}

	.ratingWrapper,
	.price {
		margin-top: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.rating {
		font-size: 16px !important;
	}

	.amountComments {
		font-size: 12px;
	}

	.currentPrise {
		margin: 0;
	}

	.discount {
		display: inline-block;
	}
}

@media (max-width: 400px) {
	.subTitle {
		font-size: 10px;
	}
}
