.swiper {
	margin: 24px 0;
	height: 530px;
}

.paginationBox {
	display: flex;
	justify-content: center;
	align-items: center;

	.pagination {
		width: auto !important;
		line-height: 0;

		.bullet {
			margin: 0 16px;
			background: transparent;
			border: 0.5px solid var(--color-placeholder, #828282);
			width: 13px;
			height: 13px;
			opacity: 1;
		}

		.activeBullet {
			background: var(--color-placeholder, #828282);
			border: 0.5px solid var(--color-placeholder, #828282);
			width: 13px;
			height: 13px;
		}

		> :first-child {
			margin: 0;
			margin-right: 16px;
		}

		> :last-child {
			margin: 0;
			margin-left: 16px;
		}
	}
}

@media (max-width: 400px) {
	.swiper {
		margin-bottom: 21px;
		height: 415px;
	}
	.paginationBox {
		.pagination {
			.bullet {
				margin: 0 3px;
				width: 5px;
				height: 5px;
			}

			.activeBullet {
				background: var(--color-text, #363636);
				border: 0.5px solid var(--color-placeholder, #828282);
				width: 5px;
				height: 5px;
			}

			> :first-child {
				margin: 0;
				margin-right: 3px;
			}

			> :last-child {
				margin: 0;
				margin-left: 3px;
			}
		}
	}
}
