.carouselWrap {
	position: relative;
}

.headContainer {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.container {
	--shadow-box-inset: 0px -10px 0px 0px var(--color-category-05);
	-webkit-box-shadow: inset var(--shadow-box-inset);
	-moz-box-shadow: inset var(--shadow-box-inset);
	box-shadow: inset var(--shadow-box-inset);
	display: inline-block;
}

.mainTitle {
	color: var(--color-text);

	@media (max-width: 768px) {
		text-transform: uppercase;
		font-size: 22px;
	}

	@media (max-width: 350px) {
		font-size: 18px;
	}

	@media (max-width: 300px) {
		font-size: 16px;
	}
}

.swiperBullets {
	width: auto !important;
	color: var(--color-placeholder);
	border-color: transparent;
	border-bottom-width: 6px;
	display: none;

	@media (max-width: 768px) {
		display: block;
	}
}

.swiperEachBullet {
	background-color: transparent;
	border: 1px solid var(--color-placeholder);
	opacity: 1;
	margin: 0 !important;
	margin-right: 4px !important;
}

.swiperActiveBullet {
	background-color: var(--color-text, #000);
	border: 1px solid var(--color-text, #000);
}

.cardsCarousel {
	margin-top: 55px;
	@media (max-width: 768px) {
		margin-top: 30px;
	}
}

.swiperSlide {
	height: unset;
	display: flex;
}

.navWrap {
	--slider-navbar-width: 90px;
	position: relative;
	left: calc(100% - var(--slider-navbar-width));
	margin-top: 40px;
	width: var(--slider-navbar-width);
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;
	@media (max-width: 768px) {
		display: none;
	}
}

.buttonPrev,
.buttonNext {
	width: 27px;
	height: 20px;
	color: var(--color-placeholder);
	transition: 0.3s;
}

.buttonPrev:hover:not(.swiper-button-disabled),
.buttonNext:hover:not(.swiper-button-disabled) {
	color: var(--color-text);
}

.swiper-button-disabled {
	opacity: 0.4;
}

.buttonPrev {
}

.buttonNext {
}
