.carouselWrap {
	position: relative;
}

.headContainer {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;

	@media (max-width: 768px) {
		margin-top: 10px;
	}
}

.container {
	--shadow-box-inset: 0px -10px 0px 0px var(--color-category-05);
	-webkit-box-shadow: inset var(--shadow-box-inset);
	-moz-box-shadow: inset var(--shadow-box-inset);
	box-shadow: inset var(--shadow-box-inset);
	display: inline-block;
}

.mainTitle {
	color: var(--color-text);

	@media (max-width: 768px) {
		text-transform: uppercase;
		font-size: 22px;
	}
}

.swiperBullets {
	width: auto !important;
	color: var(--color-placeholder);
	border-color: transparent;
	border-bottom-width: 6px;
}

.swiperEachBullet {
	background-color: transparent;
	border: 1px solid var(--color-placeholder);
	opacity: 1;
}

.swiperActiveBullet {
	background-color: var(--color-text, #000);
	border: 1px solid var(--color-text, #000);
}

.cardsCarousel {
	margin-top: 55px;
	@media (max-width: 768px) {
		margin-top: 30px;
	}
}

.swiperSlide {
	height: unset;
	display: flex;
}

.navWrap {
	--slider-navbar-width: 90px;
	position: relative;
	left: calc(100% - var(--slider-navbar-width));
	margin-top: 40px;
	width: var(--slider-navbar-width);
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;
	@media (max-width: 768px) {
		display: none;
	}
}

.buttonPrev,
.buttonNext {
	width: 27px;
	height: 20px;
	color: var(--color-placeholder);
	transition: 0.3s;
}

.buttonPrev:hover,
.buttonNext:hover {
	color: var(--color-text);
}

.buttonPrev {
}

.buttonNext {
}
