:root {
    --color-primary: #E56466;
    --color-background: #FFFFFF;

    --color-categoryr: #FFFFFF;

    --color-text: #FFFFFF;
    --color-placeholder: #FFFFFF;
    --color-stroke: #FFFFFF;
    --color-light-gray: #FFFFFF;

    --color-error: #FFFFFF;
    --color-info: #FFFFFF;
    --color-warning: #FFFFFF;
    --color-success: #FFFFFF;
}
