// Дескоп стилі
@media only screen and (min-width: 767px) {
h1 {
    color:#363636;
    margin: 40px 0 0 -1px;
    width: 100%;
    font-size: 26px;
    line-height: 33px;
}

.review-container {
    width: 100%;
    max-width: 1300px;
    height: 404px;
}

.review-column {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
    }
}
// Мобільні стилі
@media only screen and (max-width: 767px) {
    h1 {
        width: 100%;
        max-width: 297px;
        height: 33px;
        font-size: 22px;
        line-height: 33px;
        color: #363636;
        margin-bottom: 12px;
    }
    .review-container {
        width: 100%;
        max-width: 393px;
        height: 100%;
        max-height: 385px;
    }
    .review-column {
        display: flex;
        flex-direction: column;
    }
}
