header {

  .top-bar-header {
    display: flex;
    // justify-content: space-between;
    height: 60px;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    font-size: 14px;
    color: var(--color-stroke);

    .phone-top-bar {
      display: flex;
      align-items: center;
      gap: 8px;
      svg {
        width: 22px;
        height: 22px
      }
    
    }
    a {
      color: var(--color-stroke);
    }
    .phone-number {
      width: max-content;
    }
    .phone-button {
      position: relative;
      border: 0;
      background-color: white;
      font-size: 12px;
      width: max-content;
      text-decoration: none;
      cursor: pointer;
    }
    .phone-button::after{
      content: '';
      display: block;
      width: 0;
      height: 1px;
      background: #000000;
      position: absolute;
      bottom: -2px;
      left: 0;
      transition: width 0.3s ease;
    }

    .phone-button:hover::after{
      width: 100%;
    }

    .list-top-bar-header {
      ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 639px;
        li {
          width: max-content;
        }
      }

    }
    
    .language-top-bar-header {
      display: flex;
      align-items: center;
      gap: 8px;
      color: var(--color-text);

      > :nth-child {
        position: relative;
        cursor: pointer;
        width: 19px;
        height: 21px;
        &:before {
          content: "";
          position: absolute;
          height: 1px;
          width: 140%;
          background-color: var(--color-stroke);
          margin-top: 30px;
          margin-left: -25%;
        }
      }

      > :last-child {
        margin-top: 15px;
        cursor: not-allowed;
      }
    }

    &:after {
      content: "";
      height: 1px;
      width: 100%;
      background-color: var(--color-stroke);
      position: absolute;
      left: 0;
      right: 0;
      margin-top: 55px;
    }
  }


  .main-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    // gap:calc(0%);
    align-items: center;
    height: 62px;
    margin: 0 0;

    .search {
      display: none;
    }
    

    @media (min-width: 768px) {
      .search {
        display: block;
        position: relative;

        input {
          width: 15vw;
          min-width: 17vw;
          max-width: 310px;
          border: navajowhite;
          border-bottom: 1px solid var(--color-stroke);
          outline: none;
          padding-bottom: 10px;
          padding-left: 35px;
          color: var(--color-placeholder);

          &::placeholder {
          }

          &:focus {
          }
        }

        .search-svg {
          position: absolute;
          width: 15px;
          height: 15px;
          margin-left: 10px;
          margin-top: 5px;

          path {
            stroke: var(--color-placeholder);
          }
        }
      }
    }


    .logo-top-bar-header {
      width: 80px;
      height: 32px;
      z-index: -1;
    }

    .user-actions-header {
      display: flex;
      justify-content: right;
      min-width: 17vw;
      max-width: 310px;
      gap: 7.92px;
    }


    @media (min-width: 768px) {
      .user-actions-header {
        display: flex;
        justify-content: flex-end;
        gap:0px;
        svg {
          margin-left: 30px;
        }
      }
    }
  }

  @media (min-width: 767px) {

    .first-header-component {
      display: flex;
      gap: 8px;
    }
    .user-actions-header {
      gap: 30px;
    }
    .main-header {
      margin-bottom: 40px;
      .logo-top-bar-header {
        position: relative;
        top: 0px;
        width: 200px;
        height: 98.09px;
        margin-bottom: 5px;
        z-index: -1;
      }

    }
    .language-top-bar-header {
      display: none;
    }
    .user-actions-header {

      .search-svg {
        display: none;
      }
    }
  }

  @media (max-width: 767px) {
    .top-bar-header {
      display: none;
    }
  }
@media (min-width:768px) {
  .mobile-language-control {
    display: none;
  }


}

  @media (max-width: 948px) {
    .first-header-component {
      flex-direction: column;
      align-items: center;
    }
    .list-top-bar-header {
      ul {
        gap:12px;
        li {
          // margin: 0 1vw !important;
        }
      }
    }
  }

  @media (min-width:949px){
    .list-top-bar-header {
      ul {
        gap: 22px;
      }
    }
  }

}
