header {
  position: sticky;
  left: 0;
  right: 0;
  top: 0;

  .header-wrap {
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10000;
    display: flex;
    flex-direction: column;
    background: white;
  }

  .top-bar-header {
    width: 100%;
    display: flex;
    justify-content: space-between;

    &:after {
      content: "";
      height: 1px;
      width: 100%;
      background-color: var(--color-stroke);
      position: absolute;
      margin-top: 55px;
    }

    @media (max-width: 767px) {
      & {
        display: none;
      }
    }
  }

  .main-header {

    width: 100%;
    display: flex;
    justify-content: space-between;

    .user-actions-header {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      gap: 1rem;
    }
  }

  .categories-container {
    position: relative;
    z-index: -1;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background: white;

    @media (max-width: 767px) {
      & {
        display: none;
        flex-direction: column;
      }
    }

    p {
      text-transform: uppercase;
    }

    & li:first-of-type .category__section .category p {
      color: #E56466;

      &::before, &::after {
        content: "/";
        color: red;
        padding: 0 10px;
      }
    }

    .test-block {
      column-count: 4;
      border-top: 1px solid #B8B8B8;
      background: white;
      width: 100%;
      height: 200px;
      position: absolute;
      left: 0;
      right: 0;
      bottom: -200px;
      z-index: -1;

      .sub-category {

      }
    }

    .category__section {
      position: relative;

      .category {
        position: relative;
        z-index: 1;
        width: 100%;
        border: 0;
        background: white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .background-line {
          position: absolute;
          top: 65%;
          z-index: -1;
          background: #E56466;
          height: 5px;
          //width: 100%;
        }

        .category__title {
          transition: all 0.1ms;
          white-space: nowrap;
        }

        .arrow-svg {
          display: none;
        }
      }

      .category__content {

      }
    }

    @media (min-width: 800px) and (max-width: 1000px) {
      .category__title {
        font-size: 0.7rem;
      }
    }
    @media (min-width: 767px) and (max-width: 849px) {
      .category__title {
        font-size: 0.6rem;
      }
    }
  }


  //@media (min-width: 767px) {
  //  .main-header {
  //    .logo-top-bar-header {
  //      width: 200px;
  //      height: 98.09px;
  //      margin-bottom: 5px;
  //    }
  //
  //  }
  //  .user-actions-header {
  //
  //    .search-svg {
  //      display: none;
  //    }
  //  }
  //}
  //@media (max-width: 767px) {
  //  .top-bar-header {
  //    display: none;
  //  }
  //}
  //@media (max-width: 948px) {
  //  .list-top-bar-header {
  //    ul {
  //      li {
  //        margin: 0 1vw !important;
  //      }
  //    }
  //  }
  //}

}
