.slide {
	display: flex;
	flex-direction: column;
}

.head {
	position: relative;
	width: 100%;
	line-height: 0;
}

.svgLike {
	padding: 2px 0;
	position: absolute;
	top: 15px;
	right: 15px;
}

.svgLike:focus {
	outline: none;
}

.body {
	margin-top: 20px;
	color: var(--color-text, var(--color-text, #828282));
	font-size: 14px;
	line-height: 150%; /* 21px */
	display: flex;
	flex-direction: column;
	flex-grow: 1;

	a {
		color: inherit;
	}
}

.title,
.subTitle {
	width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.title {
	font-size: inherit;
	font-weight: 600;
	text-transform: uppercase;
}

.subTitle {
	padding: 0;
	margin-top: 5px;
	flex: 1 0 100%;
}

.ratingWrapper {
	margin-top: 20px;
	display: flex;
	align-items: center;
}

.rating {
	margin-right: 5px;
}

.amountComments {
	color: var(--color-placeholder, var(--color-placeholder, #828282));
	text-align: center;
	font-size: 12px;
	font-weight: 600;
	line-height: 150%;
	text-decoration-line: underline;
	text-transform: uppercase;
}

.price {
	color: var(--color-text, var(--color-text, #828282));
	margin-top: 10px;
}

.oldPrice {
	margin-left: 15px;
	color: var(--color-placeholder, var(--color-placeholder, #828282));
	line-height: 150%; /* 21px */
	text-decoration-line: line-through;
}
