.navWrap {
	--slider-navbar-width: 90px;
	position: relative;
	left: calc(100% - var(--slider-navbar-width));
	margin-top: 40px;
	width: var(--slider-navbar-width);
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;
}

.buttonPrev,
.buttonNext {
	width: 27px;
	height: 20px;
	color: var(--color-placeholder);
	transition: 0.3s;
}

.buttonPrev:hover,
.buttonNext:hover {
	color: var(--color-text);
}
