.banner {
  position: relative;
  padding-top: 57px;
  height: 440px;

  @media (min-width: 768px) {
    height: calc(300px + 15vw);
    padding-top: 24px;
  }

  @media (min-width: 768px) and (max-width:1340px){ 
    padding-left: 20px;
    padding-right: 20px;
  }
}