.banner {
  padding-top: 57px;
  height: 440px;
  @media (min-width: 768px) {
    height: 568px;
    padding-top: 24px;
  }

  &__bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    inset: 0;
    z-index: -10;
  }

  .swiper {
    height: 100%;
  }

  .swiper-wrapper {
    height: 94%;
  }

  .swiper-slide {
    overflow: hidden;
  }

  .swiper-pagination {
    bottom: 0;
  }

  .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    background: inherit;
    border: 1px solid var(--color-text);

    @media(min-width: 768px) {
      width: 14px;
      height: 14px;
      border: 1px solid var(--color-placeholder);
    }
  }

  .swiper-pagination-bullet-active,
  .swiper-pagination-bullet:hover {
    background: var(--color-text);

    @media (min-width: 768px) {
      background: var(--color-placeholder);
    }
  }
}
